* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    color: #333;
    font-size: 62.5%;
    font-family: 'open Sans', sans-serif;
}

.main {
    background: #f1fff1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.form {
    width: 360px;
    min-height: 100 px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}

.form .heading {
    font-size: 2rem;
    font-weight: 700;
}

.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.form-label {
    text-align: left;
}

.form-label {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.4rem;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
}

.form-control:hover,
.form-control:focus {
    border-color: #1dbfaf;
}

.form-submit,
.form-submit-register,
.btn-login {
    outline: none;
    background-color: #1dbfaf;
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.form-submit {
    margin-left: 5px;
    margin-right: 5px;
}

.form-submit:hover {
    background-color: #1ac7b6;
}

.spacer {
    margin-top: 36px;
}

.btn-group {
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    justify-content: space-evenly;
}

.register-success {
    font-size: 20px;
}

.btn-login {
    width: auto;
    margin-top: 20px;
}

.errorMsg {
    display: inline;
    text-align: left;
    font-size: 12px;
    color: red;
}

.form-control-error {
    border: 1px solid red;
    height: 40px;
    padding: 8px 12px;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
}

.sign-up-text {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}

.submit-success-login {
    display: block;
    outline: none;
    background-color: #1dbfaf;
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    border: none;
    width: 200px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}
